.title {
  text-align: center;
}

button {
  background-color: #8648e9;
  border: 6px solid #68c1eb;
  border-radius: 10px;
}

.game-board {
  width: 700px;
  height: 700px;
  margin: 0 auto;
  background-color: #5d6069;
  color: 000300;
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-row {
  border: 6px solid #8d7cbd;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #8d7cbd;
}

.block {
  border: 6px solid rgb(182, 135, 35);
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20em;
  margin: 5px;
}

#turn {
  text-align: center;
}

#winner {
  text-align: center;
}
